.detail {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: center;
    margin-top:2%;
    margin-bottom: 2%;
    margin-left: 40%;
    margin-right: 40%;
    border: solid;
    padding: 1%;
    border-color: rgb(7, 68, 138);
    background-color: rgb(82, 156, 252);
    border-radius: 5%;
}